<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<div class="container">
    <div class="login login-1">
        <header class="login--header login-1--header text-center">
            <span class="icon icon-medium fa fa-lock"></span>
            <h3>login</h3>
            <span class="arrow-down login--header__arrow"></span>
        </header>
            <form class="login--form" id="loginForm" method="post" th:action="@{/ebooks/login}">
            <div class="login--form__input-area input-group">
                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                <input type="text" class="form-control" name="username" />
            </div>
            <div class="login--form__input-area input-group">
                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="login--form__button btn btn-default" value="submit">sign in</button>
        </form>
        <footer class="login--footer text-center">
            <p class="login--footer__text">dont have an account? <strong><a href="#">sign up</a></strong></p>
        </footer>
    </div>

</div>
</body>

</html>
